<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml",xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
    

<section class="vh-100" style="background-color: #A5102E;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img th:src="@{images/pexel.jpg}"  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                <form th:action="@{/login}" method="POST">  
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Brazil Burger</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous à votre compte</h5>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Adresse Email</label>
                        <input type="text" id="user_name" name="user_name" placeholder="Email" class="form-control form-control-lg"/>
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example27">Mot de Passe</label>
                        <input type="password" placeholder="Mot de Passe" id="password" name="password" class="form-control form-control-lg"/>
                    </div>

                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button style="background-color: #A5102E;color: white;" class="btn  btn-lg btn-block" name="Submit" value="Login" type="Submit" th:text="Connexion"></button>
                    </div>

                </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </html>


</body>





















<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



<body>

<div class="container">
    <img th:src="@{/images/bien-test.jpeg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="user_name" name="user_name" placeholder="User Name"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
</div>
</body>
</html> -->