/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/partials/index.scss */
.container-fluid {
  background-color: #A5102E;
  padding: 10px;
}

/* line 8, ../sass/partials/index.scss */
.navbar {
  background: #A5102E;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 16, ../sass/partials/index.scss */
.navbar-brand {
  margin-right: 0;
}

/* line 25, ../sass/partials/index.scss */
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* line 34, ../sass/partials/index.scss */
.info {
  margin-left: 12%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  width: auto;
}

/* line 45, ../sass/partials/index.scss */
.contact, .contacte {
  border-radius: 10px;
  background: rgba(239, 19, 19, 0.13);
  padding: 10px;
}

/* line 51, ../sass/partials/index.scss */
.contacte {
  display: flex;
  width: 70px;
}

/* line 56, ../sass/partials/index.scss */
.fa-bag-shopping {
  margin-left: 13px;
}

/* line 1, ../sass/partials/index1.scss */
.titre {
  text-align: center;
  color: #FFFFFF;
}

/* line 7, ../sass/partials/index1.scss */
.titre h2 {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  font-size: 64px;
  line-height: 81px;
}

/* line 15, ../sass/partials/index1.scss */
.titre p {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

/* line 23, ../sass/partials/index1.scss */
.img {
  position: absolute;
  margin-top: -8%;
}

/* line 29, ../sass/partials/index1.scss */
.shop {
  position: relative;
  margin-top: -40%;
  width: 600px;
  height: 600px;
  margin-left: 26%;
}

/* line 5, ../sass/partials/index3.scss */
.titre1 {
  text-align: center;
  padding: 50px;
  margin-left: 27%;
}

/* line 11, ../sass/partials/index3.scss */
.titre1 h4 {
  color: #A5102E;
}

/* line 17, ../sass/partials/index3.scss */
.catalogue1 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 765px;
  top: 1149px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 27, ../sass/partials/index3.scss */
.catalogue-image {
  /*     position: absolute;
   */
  width: 300px;
  height: 300px;
  left: 5px;
}

/* line 36, ../sass/partials/index3.scss */
.prix3 {
  margin-left: 209px;
  padding: 11px;
}

/* line 42, ../sass/partials/index3.scss */
.catalogue2 {
  width: 333px;
  height: 303px;
  left: 540px;
  top: 1505px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 55, ../sass/partials/index3.scss */
.prixx {
  position: absolute;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
  margin-left: 20px;
  margin-top: -29px;
}

/* line 72, ../sass/partials/index3.scss */
.button2 {
  position: absolute;
  width: 130px;
  height: 32px;
  background: #A5102E;
  border-radius: 20px;
  border: none;
  color: white;
  left: 100px;
  top: 260px;
}

/* line 89, ../sass/partials/index3.scss */
.shop-item {
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);
}

/* line 98, ../sass/partials/index3.scss */
.shop-item-img {
  position: relative;
  z-index: 1;
}

/* line 103, ../sass/partials/index3.scss */
.shop-item-img:hover {
  border-radius: 10px;
  z-index: 2;
  transform: scale(0.9);
  background-color: #ffc107;
  transition: all 0.3s linear 0s;
}

/* line 111, ../sass/partials/index3.scss */
.shop-item-sale {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border-radius: 50%;
  text-align: center;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: #fff;
  background: #FB7223;
}

/* line 125, ../sass/partials/index3.scss */
.img, img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: auto;
}

/* line 135, ../sass/partials/index3.scss */
.shop-item-meta {
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 3;
  transition: all .5s ease-in-out;
}

/* line 143, ../sass/partials/index3.scss */
.shop-item-meta a {
  width: 40px;
  height: 40px;
  line-height: 43px;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

/* line 154, ../sass/partials/index3.scss */
.shop-item-meta a:hover {
  color: #A5102E;
}

/* line 158, ../sass/partials/index3.scss */
.shop-item-info {
  padding-top: 7px;
  text-align: center;
}

/* line 163, ../sass/partials/index3.scss */
.shop-item-rate {
  margin-bottom: 5px;
  color: #FB7223;
}

/* line 168, ../sass/partials/index3.scss */
.shop-item-title {
  font-size: 19px;
  color: #222222;
  transition: all .5s ease-in-out;
}

/* line 174, ../sass/partials/index3.scss */
.shop-item-price {
  font-size: 18px;
  color: #FB7223;
  font-weight: 700;
  margin-top: 5px;
}

/* line 181, ../sass/partials/index3.scss */
.shop-item-price del {
  color: #7a8a9e;
  margin-right: 10px;
  font-weight: 500;
}

/* line 3, ../sass/partials/index4.scss */
.container-fluide {
  background-color: #F8D65D;
  padding: 10px;
}

/* line 8, ../sass/partials/index4.scss */
.avan, .avant {
  position: absolute;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

/* line 17, ../sass/partials/index4.scss */
.avan {
  width: 971px;
  height: 171px;
  left: 199px;
  top: 1932px;
  font-size: 48px;
  line-height: 61px;
}

/* line 26, ../sass/partials/index4.scss */
.avant {
  width: 480px;
  height: 25px;
  left: 489px;
  top: 2008px;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

/* line 36, ../sass/partials/index4.scss */
.img22 {
  position: absolute;
  width: 483px;
  height: 428px;
  left: 483px;
  top: 2092px;
}

/* line 44, ../sass/partials/index4.scss */
.card1, .card2 {
  position: relative;
  width: 352px;
  height: 316px;
  background: rgba(236, 211, 119, 0.72);
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}

/* line 56, ../sass/partials/index4.scss */
.calorie {
  color: white;
  margin-top: 10px;
}

/* line 61, ../sass/partials/index4.scss */
.bacon {
  margin-top: 21px;
}

/* line 65, ../sass/partials/index4.scss */
.bas {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

/* line 75, ../sass/partials/index4.scss */
.glob {
  display: flex;
  margin-left: 10%;
  margin-top: -10%;
}

/* line 1, ../sass/partials/index5.scss */
.titre2 {
  text-align: center;
}

/* line 6, ../sass/partials/index5.scss */
.titre2 h2 {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  font-size: 64px;
  line-height: 81px;
}

/* line 14, ../sass/partials/index5.scss */
.nourits {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.72);
}

/* line 26, ../sass/partials/index5.scss */
.blocs {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 35, ../sass/partials/index5.scss */
.bloc2 {
  display: flex;
  margin-top: -398px;
}

/* line 40, ../sass/partials/index5.scss */
.titreglob {
  text-align: center;
  margin-left: -24px;
}

/* line 45, ../sass/partials/index5.scss */
.trait33, .trait32, .trait31, .trait30 {
  width: 91px;
  height: 25px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #F8D65D;
  margin-top: -41px;
}

/* line 57, ../sass/partials/index5.scss */
.carde {
  padding: 19px;
}

/* line 3, ../sass/partials/index6.scss */
.titre h3 {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 84px;
  color: #FFFFFF;
}

/* line 13, ../sass/partials/index6.scss */
.titre h5 {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

/* line 23, ../sass/partials/index6.scss */
.titre h6 {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
}

/* .container-livraison{
    background-color: #A5102E;
    height: 600px;
}

.img26{
    position: absolute;
    width: 616px;
    height: 534px;
    margin-top: 43px;
}

.liv{
    position: absolute;
    width: 467px;
    height: 84px;
    left: 845px;

    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 84px;

    color: #FFFFFF;
}

.liv1{
    
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

    color: #FFFFFF;
}

.liv2 {
    position: absolute;
    width: 513px;
    height: 175px;
    left: 845px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 146px;
}

.liv3{
    position: absolute;
    width: 441px;
    height: 30px;
    left: 845px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 342px;
}

 */
/* .container-footer{
    background-color:#A5102E;
    border: 2px solid black;
    height: 70px;
} */
/* line 7, ../sass/partials/index7.scss */
.container-footer {
  margin-left: 10%;
}

/* line 11, ../sass/partials/index7.scss */
.fa-brands {
  color: white;
  padding: 5px;
}

/* line 1, ../sass/partials/details.scss */
.multiple {
  display: flex;
}

/* line 1, ../sass/partials/list.scss */
.entete {
  display: flex;
}

/* line 6, ../sass/partials/list.scss */
.entete1 h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

/* line 15, ../sass/partials/list.scss */
.entete1 p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
}

/* line 22, ../sass/partials/list.scss */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  color: white;
  background: #A5102E;
  border-radius: 4px;
}

/* line 34, ../sass/partials/list.scss */
.button:hover {
  color: white;
}

/* line 38, ../sass/partials/list.scss */
th {
  text-align: center;
  padding: 8px;
}

/* line 42, ../sass/partials/list.scss */
td {
  text-align: center;
  padding: 8px;
}

/* line 47, ../sass/partials/list.scss */
.modif {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  color: white;
  background: #A5102E;
  border-radius: 4px;
}

/* line 58, ../sass/partials/list.scss */
.supprime {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  border: 1px solid #eae2e2;
  color: black;
  background-color: #F2F2F4;
}

/* line 69, ../sass/partials/list.scss */
a:link {
  text-decoration: none;
}

/* line 73, ../sass/partials/list.scss */
.supprime:hover {
  background-color: #FB7223;
  color: white;
}

/* line 78, ../sass/partials/list.scss */
.modif:hover {
  color: white;
}

/* line 18, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}
