/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/index.scss */
.container-fluid {
  background-color: #A5102E;
  height: 170px;
}

/* line 7, ../sass/partials/index.scss */
.nav-link {
  color: white;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* line 16, ../sass/partials/index.scss */
.info {
  position: absolute;
  left: 2.99%;
  right: 74.86%;
  top: 2.5%;
  bottom: 96.24%;
  width: 255px;
  height: 58.56px;
  Top: 86.80000000000001px;
  Left: 43px;
  border-radius: 10px;
  background: rgba(239, 19, 19, 0.13);
}

/* line 30, ../sass/partials/index.scss */
.contact {
  position: absolute;
  left: 8.38%;
  top: 2.62%;
  bottom: 96.92%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

/* line 44, ../sass/partials/index.scss */
.num {
  position: absolute;
  left: 13.76%;
  top: 37.18%;
  bottom: 96.32%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

/* line 60, ../sass/partials/index.scss */
.icone {
  position: absolute;
  margin-right: 50px;
  bottom: 96.24%;
  width: 100px;
  height: 58.56px;
  Top: 86.80000000000001px;
  Left: 110%;
  border-radius: 10px;
  background: rgba(239, 19, 19, 0.13);
}

/* line 72, ../sass/partials/index.scss */
.user {
  position: absolute;
  right: 57.49%;
  top: 2.6%;
  bottom: 96.64%;
}

/* line 81, ../sass/partials/index.scss */
.shop {
  position: absolute;
  right: 22.29%;
  top: 16.75%;
  bottom: 96.82%;
}

/* line 1, ../sass/partials/index1.scss */
.container-fluide {
  background-color: #A5102E;
  height: 900px;
}

/* line 6, ../sass/partials/index1.scss */
.titre {
  position: absolute;
  width: 731px;
  height: 81px;
  left: 361px;
  top: 223px;
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  font-size: 64px;
  line-height: 81px;
  text-align: center;
  color: #FFFFFF;
}

/* line 25, ../sass/partials/index1.scss */
.sous-titre {
  position: absolute;
  width: 584px;
  height: 50px;
  left: 434px;
  top: 304px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

/* line 42, ../sass/partials/index1.scss */
.img {
  position: absolute;
  width: 1147px;
  height: 794px;
  left: 129px;
  top: 241px;
}

/* line 50, ../sass/partials/index1.scss */
.tomate1 {
  position: absolute;
  width: 276px;
  height: 325px;
  left: 10px;
  top: 237px;
}

/* line 58, ../sass/partials/index1.scss */
.tomate2 {
  position: absolute;
  width: 276px;
  height: 325px;
  left: 10px;
  top: 740px;
}

/* line 66, ../sass/partials/index1.scss */
.tomate3 {
  position: absolute;
  width: 276px;
  height: 325px;
  top: 263px;
  left: 1059px;
  transform: rotate(46.72deg);
}

/* line 76, ../sass/partials/index1.scss */
.tomate4 {
  position: absolute;
  width: 276px;
  height: 325px;
  left: 1059px;
  top: 740px;
}

/* line 1, ../sass/partials/index3.scss */
.container-fluides {
  background-color: #fff;
  height: 800px;
}

/* line 6, ../sass/partials/index3.scss */
.fromage1 {
  position: absolute;
  width: 226.91px;
  height: 362.92px;
  left: 6.19px;
  top: 1569.66px;
  transform: rotate(-103.56deg);
}

/* line 16, ../sass/partials/index3.scss */
.fromage3 {
  position: absolute;
  width: 226.91px;
  height: 362.92px;
  left: 1162.19px;
  top: 1569.66px;
  transform: rotate(-273.56deg);
}

/* line 26, ../sass/partials/index3.scss */
.fromage4 {
  position: absolute;
  width: 226.91px;
  height: 362.92px;
  left: 1121.19px;
  transform: rotate(-103.56deg);
}

/* line 34, ../sass/partials/index3.scss */
.desc {
  position: absolute;
  width: 476px;
  height: 20px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #A5102E;
  margin-top: -219px;
  margin-left: 74px;
}

/* line 48, ../sass/partials/index3.scss */
.desc1 {
  position: absolute;
  width: 544px;
  height: 86px;
  left: 41px;
  top: 1191px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

/* line 64, ../sass/partials/index3.scss */
.desc2 {
  position: absolute;
  width: 524px;
  height: 51px;
  left: 51px;
  top: 1270px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #000000;
}

/* line 79, ../sass/partials/index3.scss */
.catalogue1 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 765px;
  top: 1149px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 89, ../sass/partials/index3.scss */
.catalogue-image {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 5px;
}

/* line 96, ../sass/partials/index3.scss */
.prix {
  position: absolute;
  left: 779px;
  top: 1162px;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
}

/* line 108, ../sass/partials/index3.scss */
.catalogue2 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 540px;
  top: 1505px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 118, ../sass/partials/index3.scss */
.catalogue3 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 992px;
  top: 1505px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 129, ../sass/partials/index3.scss */
.prixx {
  position: absolute;
  left: 1006px;
  top: 1516px;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
}

/* line 144, ../sass/partials/index3.scss */
.prixxx {
  position: absolute;
  /* height: 42px; */
  left: 554px;
  top: 1516px;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
}

/* line 158, ../sass/partials/index3.scss */
.button1, .button2, .button3 {
  position: absolute;
  width: 130px;
  height: 32px;
  background: #A5102E;
  border-radius: 20px;
  border: none;
  color: white;
}

/* line 168, ../sass/partials/index3.scss */
.button1 {
  left: 850px;
  top: 1412px;
}

/* line 173, ../sass/partials/index3.scss */
.button2 {
  left: 94px;
  top: 260px;
}

/* line 178, ../sass/partials/index3.scss */
.button3 {
  left: 100px;
  top: 260px;
}

/* line 1, ../sass/partials/index4.scss */
.container-fluidess {
  background-color: #F8D65D;
  height: 800px;
}

/* line 6, ../sass/partials/index4.scss */
.avan, .avant {
  position: absolute;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

/* line 15, ../sass/partials/index4.scss */
.avan {
  width: 971px;
  height: 171px;
  left: 199px;
  top: 1932px;
  font-size: 48px;
  line-height: 61px;
}

/* line 24, ../sass/partials/index4.scss */
.avant {
  width: 480px;
  height: 25px;
  left: 489px;
  top: 2008px;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

/* line 34, ../sass/partials/index4.scss */
.img22 {
  position: absolute;
  width: 483px;
  height: 428px;
  left: 483px;
  top: 2092px;
}

/* line 42, ../sass/partials/index4.scss */
.card1, .card2 {
  position: absolute;
  width: 352px;
  height: 316px;
  background: rgba(236, 211, 119, 0.72);
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}

/* line 52, ../sass/partials/index4.scss */
.card1 {
  left: 66px;
  top: 2178px;
}

/* line 57, ../sass/partials/index4.scss */
.card2 {
  left: 1060px;
  top: 2178px;
}

/* line 62, ../sass/partials/index4.scss */
.calorie {
  color: white;
  margin-top: 10px;
}

/* line 67, ../sass/partials/index4.scss */
.bacon {
  margin-top: 21px;
}

/* line 71, ../sass/partials/index4.scss */
.bas {
  position: absolute;
  width: 459px;
  height: 25px;
  left: 521px;
  top: 2607px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

/* line 1, ../sass/partials/index5.scss */
.container-fluidee {
  background-color: #fff;
  height: 700px;
}

/* line 7, ../sass/partials/index5.scss */
.comment {
  position: absolute;
  width: 384px;
  height: 51px;
  left: 593px;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #F8D65D;
}

/* line 20, ../sass/partials/index5.scss */
.comment, .etapes {
  font-family: 'Overpass';
  font-style: normal;
}

/* line 25, ../sass/partials/index5.scss */
.etapes {
  position: absolute;
  width: 320px;
  height: 60px;
  left: 626px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-top: 60px;
}

/* line 40, ../sass/partials/index5.scss */
.groupe33, .groupe32, .groupe31, .groupe30 {
  position: absolute;
  width: 85px;
  height: 85px;
  margin-top: 209px;
}

/* line 47, ../sass/partials/index5.scss */
.trait33, .trait32, .trait31, .trait30 {
  position: absolute;
  width: 91px;
  height: 25px;
  margin-top: 244px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #F8D65D;
}

/* line 60, ../sass/partials/index5.scss */
.groupe33 {
  left: 30%;
}

/* line 64, ../sass/partials/index5.scss */
.groupe32 {
  left: 45%;
}

/* line 68, ../sass/partials/index5.scss */
.groupe31 {
  left: 60%;
}

/* line 72, ../sass/partials/index5.scss */
.groupe30 {
  left: 75%;
}

/* line 78, ../sass/partials/index5.scss */
.trait33 {
  left: 37%;
}

/* line 82, ../sass/partials/index5.scss */
.trait32 {
  left: 52%;
}

/* line 86, ../sass/partials/index5.scss */
.trait31 {
  left: 67%;
}

/* line 90, ../sass/partials/index5.scss */
.nourit1, .nourit2, .nourit3, .nourit4 {
  position: absolute;
  width: 224px;
  height: 20px;
  top: 3088px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* line 103, ../sass/partials/index5.scss */
.nourit1 {
  left: 378px;
}

/* line 107, ../sass/partials/index5.scss */
.nourit2 {
  left: 621px;
}

/* line 111, ../sass/partials/index5.scss */
.nourit3 {
  left: 852px;
}

/* line 115, ../sass/partials/index5.scss */
.nourit4 {
  left: 1089px;
}

/* line 119, ../sass/partials/index5.scss */
.nourits {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.72);
}

/* line 14, ../sass/screen.scss */
* {
  margin: auto;
  padding: auto;
}
