<div class="container">
  <div class="row mt-5 text-center">
      <h1>Catalogues</h1>
  </div>
  <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12 mt-3">
              <div class="card" >
                  <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">
                          DELL Latitude
                      </h5>
                      <p class="card-text">250000 FCFA</p>
                      <a href="" class="btn btn-primary">
                          Voir plus
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mt-3">
            <div class="card" >
                <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        DELL Latitude
                    </h5>
                    <p class="card-text">250000 FCFA</p>
                    <a href="" class="btn btn-primary">
                        Voir plus
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 mt-3">
          <div class="card" >
              <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">
                      DELL Latitude
                  </h5>
                  <p class="card-text">250000 FCFA</p>
                  <a href="" class="btn btn-primary">
                      Voir plus
                  </a>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12 mt-3">
        <div class="card" >
            <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    DELL Latitude
                </h5>
                <p class="card-text">250000 FCFA</p>
                <a href="" class="btn btn-primary">
                    Voir plus
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12 mt-3">
      <div class="card" >
          <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">
                  DELL Latitude
              </h5>
              <p class="card-text">250000 FCFA</p>
              <a href="" class="btn btn-primary">
                  Voir plus
              </a>
          </div>
      </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 mt-3">
    <div class="card" >
        <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                DELL Latitude
            </h5>
            <p class="card-text">250000 FCFA</p>
            <a href="" class="btn btn-primary">
                Voir plus
            </a>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 mt-3">
  <div class="card" >
      <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">
              DELL Latitude
          </h5>
          <p class="card-text">250000 FCFA</p>
          <a href="" class="btn btn-primary">
              Voir plus
          </a>
      </div>
  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12 mt-3">
<div class="card" >
    <img th:src="@{images/bien-test.jpeg}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            DELL Latitude
        </h5>
        <p class="card-text">250000 FCFA</p>
        <a href="" class="btn btn-primary">
            Voir plus
        </a>
    </div>
</div>
</div>
  </div>
</div>