<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org/">
  <div th:replace="fragment/header :: header"></div>
  <body>
   <!-- <div th:replace="fragment/navebar :: navbar"></div> -->
    <div class="container-fluid" style="padding: 80px;">
      <div class="titre">
        <h2>Puissant, Charnu et mmm</h2>
        <p>le remede a toutes les fingales est cache a l’interieur du Burger</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img th:src="@{images/1.png}"  alt="...">
        </div>
        <div class="col-6">
          <img th:src="@{images/2.png}"  alt="...">
        </div>
        <img th:src="@{images/image 8.png}" class="img" alt="...">
        <img th:src="@{images/burger1.png}" class="shop" alt="...">
      </div>
    </div>
    </div>

    <div class="container" style="padding: 20px;">
      <div class="row">
          <div class="titre1"> 
              <h4>ILS SONT DISPONIBLES EN DIFFERENTES FORMES ET TAILLES</h4>
              <p>Certains sont du boeuf et d’autres sont des poussins,</p>
              <p>mais ils sont tous excellents</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 " th:each=" b: ${burgers}">
            <div class="catalogue2" >
              <img th:src="@{images/burger3.png}" class="catalogue-image" alt="...">
              <p class="prix3" th:text="${b.nom}"></p>
              <button class="button2">Commander</button>
              <div class="prixx">
                <span th:text="${b.prix}"></span>
              </div>

            </div> 
          </div> 
      </div> 
       
    </div>

    <div class="container-fluide">
      <div class="titre">
        <h2> est-ce qu'un Burger™ est sain ?… putain ouais !</h2>
        <p >mais nous les mangerions de toute façon, chaque jour</p>
      </div>
      <img th:src="@{images/23.png}" class="" alt="...">
      <img th:src="@{images/23.png}" style="margin-left: 650px;" alt="...">
      <div class="glob">
          <div class="card1">
              <p>Petit pain Burger</p>
              <img th:src="@{images/vector1.png}" style="margin-top: 22px;" alt="...">
              <p class="calorie">165kcal</p>
              <p class="bacon">Bacon et oeuf</p>
              <img th:src="@{images/group22.png}"  style="margin-top: 12px;"    alt="...">
              <p class="calorie">142kcal</p>
          </div>

            <img th:src="@{images/22.png}" style="margin-top: -73px;" alt="...">

            <div class="card2">
                <p>Petit pain Burger</p>
                <img th:src="@{images/vector1.png}" style="margin-top: 22px;" alt="...">
                <p class="calorie">165kcal</p>
                <p class="bacon">Bacon et oeuf</p>
                <img th:src="@{images/group22.png}" style="margin-top: 12px;"  alt="...">
                <p class="calorie">142kcal</p>
            </div>
      </div>
      <div>
        <p class="bas">oh,mon garçon...ils ont un gout d’oeuf exceptionnel!</p>
      </div>
    </div>
    
    <div class="container" style="padding: 50px;" >
        <div class="titre2">
          <h2>Comment ça marche</h2>
          <p>4 étapes faciles pour profiter</p>
        </div>
          <img th:src="@{images/img25.png}" alt="...">
          <img th:src="@{images/img25.png}" alt="...">
        <div class="bloc2">
          <div class="blocs">
            <div class="carde">
              <img th:src="@{images/group33.png}" alt="...">
              <div class="titreglob">
                <p>Sélectionnez votre nourriture</p>
                <p>C'est un fait établi depuis longtemps.</p>
              </div>
            </div>  
            <div class="carde">
              <p class="trait32">-------------  </p>      
            </div>
            <div class="carde">
              <img th:src="@{images/group32.png}" alt="...">
              <div class="titreglob">
                <p>Ajouter à votre panier</p>
                <p>C'est un fait établi depuis longtemps.</p>
              </div>
            </div> 
            <div class="carde">
              <p class="trait32">-------------  </p>      
            </div>        
            <div class="carde">
              <img th:src="@{images/group31.png}" alt="...">
              <div class="titreglob">
                <p>Complétez votre paiement</p>
                <p>C'est un fait établi depuis longtemps.</p>
              </div>
            </div>
            <div class="carde">
              <p class="trait32">-------------  </p>      
            </div>
            <div class="carde">
              <img th:src="@{images/group30.png}" alt="...">
              <div class="titreglob">
                <p>Cueillette ou livraison</p>
                <p>C'est un fait établi depuis longtemps.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
   
        
     
   
    

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

