<!-- <h1>Liste categories</h1>

    <div class="container">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Marque</th>
              <th scope="col">Taille</th>
              <th scope="col">Prix</th>
              <th scope="col">Quantite en Stock</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="bo : ${boissons}">
              <th scope="row" th:text="${bo.id}"></th>
              <td th:text="${bo.marque.nom}"></td>
              <td th:text="${bo.taille.nom}"></td>
              <td th:text="${bo.taille.prix}"></td>
              <td th:text="${bo.quantiteStock}"></td>
             
              <td><a class="btn btn-primary">Supprimer</a></td>
            </tr>
          </tbody>
        </table>
    </div> -->