<div class="container-fluides">
    <!-- <img th:src="@{images/10.png}" class="fromage1" alt="...">
    <img th:src="@{images/12.png}" class="fromage2" alt="...">
    <img th:src="@{images/12.png}" class="fromage4" alt="...">
    <img th:src="@{images/10.png}" class="fromage3" alt="...">
    <p class="desc">ILS SONT DISPONIBLES EN DIFFERENTES FORMES ET TAILLES</p>
    <p class="desc1">Certains sont du boeuf et d’autres sont des poussins,</p>
    <p class="desc2">mais ils sont tous excellents</p> -->

<!--  <div class="catalogue1" >
    <img th:src="@{images/burger3.png}" class="catalogue-image" alt="...">
  </div>
  <div class="prix">
    <p class="prix1" th:text="${b.nom}"></p>
  </div>
  <button class="button1">Commander</button> -->
  <div class="lep" th:each=" b: ${burgers}">
    <div class="catalogue2">
      <img th:src="@{images/burger3.png}" class="catalogue-image" alt="...">
      <p class="prix3"th:text="${b.nom}"></p>
      <button class="button2">Commander</button>
    </div>
    <div class="prixxx">
      <p th:text="${b.prix}"></p>
    </div>
  </div>
</div> 