/* line 5, ../../sass/partials/index3.scss */
.titre1 {
  text-align: center;
  padding: 50px;
  margin-left: 27%;
}

/* line 11, ../../sass/partials/index3.scss */
.titre1 h4 {
  color: #A5102E;
}

/* line 17, ../../sass/partials/index3.scss */
.catalogue1 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 765px;
  top: 1149px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 27, ../../sass/partials/index3.scss */
.catalogue-image {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 5px;
}

/* line 36, ../../sass/partials/index3.scss */
.prix3 {
  margin-left: 209px;
  padding: 11px;
}

/* line 42, ../../sass/partials/index3.scss */
.catalogue2 {
  width: 333px;
  height: 303px;
  left: 540px;
  top: 1505px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 53, ../../sass/partials/index3.scss */
.prixx {
  position: absolute;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
  margin-left: 20px;
  margin-top: -29px;
}

/* line 70, ../../sass/partials/index3.scss */
.button2 {
  position: absolute;
  width: 130px;
  height: 32px;
  background: #A5102E;
  border-radius: 20px;
  border: none;
  color: white;
  left: 100px;
  top: 260px;
}
