/* line 1, ../../sass/partials/index3.scss */
.container-fluides {
  background-color: #fff;
  height: 800px;
}

/* line 6, ../../sass/partials/index3.scss */
.fromage1 {
  position: absolute;
  width: 226.91px;
  height: 362.92px;
  left: 6.19px;
  top: 1569.66px;
  transform: rotate(-103.56deg);
}

/* line 16, ../../sass/partials/index3.scss */
.fromage3 {
  position: absolute;
  width: 226.91px;
  height: 362.92px;
  left: 1162.19px;
  top: 1569.66px;
  transform: rotate(-273.56deg);
}

/* line 26, ../../sass/partials/index3.scss */
.fromage4 {
  position: absolute;
  width: 226.91px;
  height: 362.92px;
  left: 1121.19px;
  transform: rotate(-103.56deg);
}

/* line 34, ../../sass/partials/index3.scss */
.desc {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #A5102E;
  text-align: center;
}

/* .desc1 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
}


.desc2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
} */
/* line 63, ../../sass/partials/index3.scss */
.catalogue1 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 765px;
  top: 1149px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 73, ../../sass/partials/index3.scss */
.catalogue-image {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 5px;
}

/* line 80, ../../sass/partials/index3.scss */
.prix {
  position: absolute;
  left: 779px;
  top: 1162px;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
}

/* line 91, ../../sass/partials/index3.scss */
.prix3 {
  margin-left: 209px;
  padding: 11px;
}

/* line 97, ../../sass/partials/index3.scss */
.catalogue2 {
  width: 333px;
  height: 303px;
  left: 540px;
  top: 1505px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 107, ../../sass/partials/index3.scss */
.catalogue3 {
  position: absolute;
  width: 333px;
  height: 303px;
  left: 992px;
  top: 1505px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

/* line 118, ../../sass/partials/index3.scss */
.prixx {
  position: absolute;
  background: #4D2C21;
  border-radius: 5px;
  white-space: nowrap;
  padding: 7px;
  color: #ffc107;
  margin-left: 20px;
  margin-top: -29px;
}

/* line 135, ../../sass/partials/index3.scss */
.button1, .button2, .button3 {
  position: absolute;
  width: 130px;
  height: 32px;
  background: #A5102E;
  border-radius: 20px;
  border: none;
  color: white;
}

/* line 145, ../../sass/partials/index3.scss */
.button1 {
  left: 850px;
  top: 1412px;
}

/* line 150, ../../sass/partials/index3.scss */
.button2 {
  left: 94px;
  top: 260px;
}

/* line 155, ../../sass/partials/index3.scss */
.button3 {
  left: 100px;
  top: 260px;
}
