/* .container-footer{
    background-color:#A5102E;
    border: 2px solid black;
    height: 70px;
} */
/* line 7, ../../sass/partials/index7.scss */
.container-footer {
  margin-left: 10%;
}

/* line 11, ../../sass/partials/index7.scss */
.fa-brands {
  color: white;
  padding: 5px;
}
