/* line 2, ../../sass/partials/index.scss */
.container-fluid {
  background-color: #A5102E;
  padding: 10px;
}

/* line 8, ../../sass/partials/index.scss */
.navbar {
  background: #A5102E;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 16, ../../sass/partials/index.scss */
.navbar-brand {
  margin-right: 0;
}

/* line 25, ../../sass/partials/index.scss */
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* line 34, ../../sass/partials/index.scss */
.info {
  margin-left: 12%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  width: auto;
}

/* line 45, ../../sass/partials/index.scss */
.contact, .contacte {
  border-radius: 10px;
  background: rgba(239, 19, 19, 0.13);
  padding: 10px;
}

/* line 51, ../../sass/partials/index.scss */
.contacte {
  display: flex;
  width: 70px;
}

/* line 56, ../../sass/partials/index.scss */
.fa-bag-shopping {
  margin-left: 13px;
}
