/* line 1, ../../sass/partials/index5.scss */
.titre2 {
  text-align: center;
}

/* line 6, ../../sass/partials/index5.scss */
.titre2 h2 {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  font-size: 64px;
  line-height: 81px;
}

/* line 14, ../../sass/partials/index5.scss */
.nourits {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.72);
}

/* line 26, ../../sass/partials/index5.scss */
.blocs {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 35, ../../sass/partials/index5.scss */
.bloc2 {
  display: flex;
  margin-top: -398px;
}

/* line 40, ../../sass/partials/index5.scss */
.titreglob {
  text-align: center;
  margin-left: -24px;
}

/* line 45, ../../sass/partials/index5.scss */
.trait33, .trait32, .trait31, .trait30 {
  width: 91px;
  height: 25px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #F8D65D;
  margin-top: -41px;
}

/* line 57, ../../sass/partials/index5.scss */
.carde {
  padding: 19px;
}
