/* line 1, ../../sass/partials/index1.scss */
.titre {
  text-align: center;
  color: #FFFFFF;
}

/* line 7, ../../sass/partials/index1.scss */
.titre h2 {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  font-size: 64px;
  line-height: 81px;
}

/* line 15, ../../sass/partials/index1.scss */
.titre p {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

/* line 23, ../../sass/partials/index1.scss */
.img {
  position: absolute;
  margin-top: -8%;
}

/* line 29, ../../sass/partials/index1.scss */
.shop {
  position: relative;
  margin-top: -40%;
  width: 600px;
  height: 600px;
  margin-left: 26%;
}
