.titre2{
    text-align: center;
     
}

.titre2 h2{
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 800;
    font-size: 64px;
    line-height: 81px; 
}

.nourits{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.72);
}



.blocs{
    display: flex;
    align-items: center;
    justify-content: center;
}




.bloc2{
    display: flex;
    margin-top: -398px;
}

.titreglob{
    text-align: center;
    margin-left: -24px
}

.trait33, .trait32, .trait31, .trait30 {
    width: 91px;
    height: 25px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #F8D65D;
    margin-top: -41px;
}

.carde{
    padding: 19px;
}

