.container-fluidess{
    background-color: #F8D65D;
    height: 800px;
}

.avan, .avant{
    position: absolute;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

}

.avan {
    width: 971px;
    height: 171px;
    left: 199px;
    top: 1932px;
    font-size: 48px;
    line-height: 61px;
}

.avant{
    width: 480px;
    height: 25px;
    left: 489px;
    top: 2008px;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.img22{
    position: absolute;
    width: 483px;
    height: 428px;
    left: 483px;
    top: 2092px;
}

.card1, .card2{
    position: absolute;
    width: 352px;
    height: 316px;
    background: rgba(236, 211, 119, 0.72);
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.card1{
    left: 66px;
    top: 2178px;
}

.card2{
    left: 1060px;
    top: 2178px;
}

.calorie{
    color: white;
    margin-top: 10px;
}

.bacon{
    margin-top: 21px;
}

.bas {
    position: absolute;
    width: 459px;
    height: 25px;
    left: 521px;
    top: 2607px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
