.titre{
    text-align: center;
    color: #FFFFFF;
     
}

.titre h2{
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 800;
    font-size: 64px;
    line-height: 81px; 
}

.titre p{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.img{
    position: absolute;
    margin-top: -8%;

}

.shop {
    position: relative;
    margin-top: -40%;
    width: 600px;
    height: 600px;
    margin-left: 26%;
}





